<div routerLink="view/{{blog.id}}" class="list-group-item list-group-item-action flex-column align-items-start mb-2"
  id="blog-data-container">
  <div class="d-flex w-100 justify-content-between align-items-center">
    <h3 class="mb-1 font-weight-normal">{{ blog.name.substr(0, 70) }}{{ blog.name.length > 70 ? '...' : null }}</h3>
  </div>
  <div class="d-flex w-100 justify-content-between">
    <div class="btn-group">
      <button type="button" class="btn btn-outline-success" routerLink="{{blog.id}}">Edit</button>
      <button type="button" class="btn btn-outline-danger" (click)="deleteBlog($event, blog.id)">Delete</button>
    </div>
  </div>
</div>