<form #changePasswordForm="ngForm">
  <div class="form-group">
    <label for="password">Old Password</label>
    <input type="password" class="form-control" id="oldPassword" [(ngModel)]="password.oldPassword" name="oldPassword"
      #oldPw="ngModel" placeholder="******" required
      pattern="^.*(?=.{6,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(^[a-zA-Z0-9@\$=!:.#%]+$)">
      <small *ngIf="mode=== 'register'" id="passwordHelpBlock" class="form-text text-muted">
        Your password must be 6 characters long, contain letters and numbers, can contain special characters and must not contain spaces, or emoji.
      </small>
  </div>
  <div class="form-group">
    <label for="password">New Password</label>
    <input type="password" class="form-control" id="newPassword" [(ngModel)]="password.newPassword" name="newPassword"
      #newPw="ngModel" placeholder="******"  required pattern="^.*(?=.{6,})(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(^[a-zA-Z0-9@\$=!:.#%]+$)"> 
      <small *ngIf="mode=== 'register'" id="passwordHelpBlock" class="form-text text-muted">
        Your password must be 6 characters long, contain letters and numbers, can contain special characters and must not contain spaces, or emoji.
      </small>
  </div>
  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="pwConfirm"
      #pwConfirm="ngModel" required compare="newPassword" placeholder="******">
    <div class="text-danger" *ngIf="pwConfirm.invalid && (pwConfirm.dirty || pwConfirm.touched)">
      <div *ngIf="pwConfirm.errors['required']">Confirm password is required</div>
      <div *ngIf="pwConfirm.errors['compare']">Passwords do not match</div>
    </div>
  </div>
  
  <div class='text-danger' *ngIf="error">
    {{this.error}}
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-outline-primary" (click)="changePassword()"
      [disabled]="changePasswordForm.form.invalid">Change password</button>
  </div>
  
</form>