<div class="row-auto">
<form class="form-inline mb-lg-4">
  <div class="col-auto">
    <input type="search" class="form-control" [(ngModel)]="this.search" (keydown)="this.getPosts()" name="search" placeholder="search">
  </div>
  <div class="col-auto">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="inlineRadio1" value="text" [(ngModel)]="this.mode" name="mode" checked="checked"> 
      <label class="form-check-label" for="inlineRadio1">text filter</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" id="inlineRadio2" value="teg" [(ngModel)]="this.mode" name="mode">
      <label class="form-check-label" for="inlineRadio2">teg filter (tegs separated by comma)</label>
    </div>
    </div>
</form>
</div>
<div class="row-auto" *ngIf="!loading && this.posts !== null && !error_message">
<div class="list-group mb-4">
  <app-post-list-item *ngFor="let post of posts" [post]="post" (postDeleted)="onPostDeleted($event)"></app-post-list-item>
</div>
<app-pagination [pageIndex]="pageIndex" [itemsCount]="postsCount" [itemsPerPage]="itemsPerPage"></app-pagination>
</div>
<div *ngIf="!loading && (this.posts === null || this.posts.length === 0) && !error_message">
  <h5 class="dispay-4">
      Sorry, couldn't find any posts with this search options!
  </h5>
</div>
<div *ngIf='error_message'>
  <h5 class="dispay-4">
  {{this.error_message}}
</h5>
</div>
<div *ngIf="loading">
  Loading...
</div>